

# for root server access

# DATABASE_USER=
# DATABASE_PASSWORD=
# DATABASE_HOST=
# DATABASE_PORT=
# DATABASE_NAME=


# for local setup

DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_NAME=codex


# app + auth

PORT=3000
APP_URL=http://localhost:4200
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES=1d
